APP_NAME=DulceConMaria
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://dulceconmaria.com

APP_LOCALE=es
APP_FALLBACK_LOCALE=es

LOG_CHANNEL=stack
LOG_LEVEL=warning

DB_CONNECTION=pgsql
DB_HOST=CHANGEME_DB_HOST
DB_PORT=5432
DB_DATABASE=CHANGEME_DB_DATABASE
DB_USERNAME=CHANGEME_DB_USERNAME
DB_PASSWORD=CHANGEME_DB_PASSWORD

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=true
SESSION_PATH=/
SESSION_DOMAIN=.dulceconmaria.com
SESSION_SECURE_COOKIE=true
SESSION_SAME_SITE=lax

CACHE_STORE=database
QUEUE_CONNECTION=database

MAIL_MAILER=log
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_FROM_ADDRESS="no-reply@dulceconmaria.com"
MAIL_FROM_NAME="DulceConMaría"
CLOUDINARY_URL=cloudinary://API_KEY:API_SECRET@CLOUD_NAME
